.ttitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

/* OUR SHOP */
.shop{
    text-align: center;
    font-size: 20px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
}
img.alpha{
    width: 500px;
    height: 300px;
    padding-bottom: 10px;
    padding-right: 5px;
}
img.beta{
    width: 300px;
    height: 300px;
    padding-left: 5px;
    padding-bottom: 10px;
}
img.charlie{
    width: 300px;
    height: 300px;
    padding-right: 5px;
    padding-bottom: 10px;
}
img.delta{
    width: 500px;
    height: 300px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/* HISTORY */
.history{
    text-align: center;
    font-size: 20px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
img.history{
    padding-bottom: 10px;
}

.ourproducts{
    text-align: center;
    font-size: 20px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
img.p1,.p2,.p3,.p4{
    width: 250px;
    height: 250px;
}
/* gif */
img.gif,.gif1,.gif2,.gif3{
    width: 250px;
    height: 250px;
    padding-left: 3.5px;
}


/* RATING CHART */
.space{
    padding-left: 20px;
    padding-right: 10px;
    left: 5px;
}
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 65%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }

  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }


   /* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: grey;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchBar.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;

}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropddropdownSearchBarown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownSearchBar-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownSearchBar-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdownSearchBar-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}