html{
    background-color:rgb(129, 64, 64);
  }
  
  body{
    color:black;
    background-color:whitesmoke;
    font-family: Vendara,Geneva,sans-serif;
    margin: auto;
    width: 100%;
    max-width: 1030px;
    min-width: 650;
  }

  /* header */
  body>header{
  margin:0;
  padding:6px;
  width:99%;
  overflow:hidden;
  }
  
  body>footer{
    width: 100%;
    clear:both;
  }
  nav li{
    list-style: none;
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
    
  }
  
  nav li a{
    display: block;
    padding: 16px;
    background: white;
    text-decoration: none;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: middle;
    overflow: hidden;
    background-color:white;
  }
  
   
/* image */
.image{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

  /* center */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  /* container */
.container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
  
  /* menshoes */
  div.gallery {
    margin: 10px;
    border: 3px solid #ccc;
    float: left;
    width: 350px;
    margin: 40px 70px;
  }
  
  div.gallery:hover {
    border: 3px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 20px;
    text-align: center;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #f1f1f1;
    color: black;
  }
  
  /* footer */
  .footer {
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
  }

/* Word */
 p {
  text-align: center;
}
 h1{
  color:black;
}


/* categories */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 0;
  overflow: hidden;
}

.dropdown:hover .dropdown-content {
  display: block;
}
